#!/bin/bash
export RG="azure-func-demo-rg"
export STORAGE_ACCOUNT_NAME="funcsa"
export LOCATION="westeurope"
export SERVICEBUS_NAMESPACE="azure-func-demo-sb-namespace"
export COSMOSDB_ACCOUNT_NAME="skl-azure-func-demo-db"
export DATABASE_NAME="azure-func-demo-db"
export FUNC_APP_NAME="skl-func-app"
