#export KUBECONFIG=~/.kube/testing/myaks
# set this to the name of your Azure Container Registry.  It must be globally unique
export ACR_NAME="sklenaracr"
export PREFIX="test"
export LOCATION="westeurope"                    # the location of your cluster
export RESOURCEGROUP="${PREFIX}-aro-rg"         # the name of the resource group where you want to create your cluster
export CLUSTER="${PREFIX}-cluster-aro"          # the name of your cluster
export VNET_NAME="${PREFIX}-vnet"